---
layout: compress
---
<html lang="{{ page.lang | default: site.lang | default: "en_US" }}">

  {% include head.html %}

  <body class="site">

    {% if site.google_tag_manager %}

      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

    {% endif %}

    {% include header.html %}

    <div class="hero lazyload" data-bg="{{site.url}}/assets/img/authors/main/author_main.jpg">
      <div class="hero__wrap">
        <h1 class="hero__title">AUTHOR PAGE</h1>
        <p class="hero__meta">Why do you make efforts commonly, dont't want to live commonly.</p>
      </div>
    </div>

    <main class="site__content">
      <nav class="nav">
        <section class="blog" style="display: flex; flex-direction: row;">
          <article class="container" style="width: 90%; margin-right: 50px;">
            <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">
                
              {% for post in site.authors[page.author] %}
                {% include card.html %}
              {% endfor %}
  
              <!-- {% include pagination.html %} -->
            </div>
          </article>            
          <article class="container" style="width: 10%; margin-left: 0;">
            <div class="category" style="padding: 65px 0 0;">
              <h2 style="color: #0D3EA3;">
                categories
              </h2>
              <ul class="categories" style="list-style: none; padding: 0px;">
                 {% for category in site.categories %} 
                 <li {% if category[0] == page.category %} class="active" {% endif %}>                     
                    <a href="/category/{{ category | first }}">
                        {{ category | first }} ({{ category | last | size }}) 
                    </a>                                      
                 </li>
                 {% endfor %}
              </ul>  
            </div>     
          </article>                               
        </section>        
      </nav>
      
    </main>

    {% include footer.html %}

  </body>

</html>
